{% extends 'base.html' %}

{% block content %}
    <img src={{ recipe.thumbnail.url }} alt={{ recipe.title }} width="250"/>
    <strong>{{ recipe.title }}</strong>
    <p>{{ recipe.description }}</p>
    <hr>
    
    <h3>Ингредиенты</h3>
    {% for ingredient in recipe.ingredients.all %}
        <span>{{ ingredient.title }} — {{ ingredient.amount }} {{ ingredient.quantity }}</span>
    {% endfor %}
    <hr>
    <h3>Этапы приготовления</h3>
    {% for step in recipe.steps.all %}
    	<span>{{ step.step_number }}. {{ step.description }}</span>
    {% endfor %}
    
    
    <small>{{ recipe.create }}</small>
    <hr>
    <span>{{ recipe.category.title }}</span>
{% endblock %}