{% extends 'base.html' %}

{% block content %}
    <div class="card border-0">
        <div class="card-body">
            <div class="row">
                <div class="col-md-3">
                    <figure>
                        {% if profile.avatar %}
                            <img src="{{ profile.avatar.url }}" class="img-fluid rounded-0" alt="{{ profile }}">
                        {% else %}
                            <p>Аватар отсутствует</p>
                        {% endif %}
                    </figure>
                </div>
                <div class="col-md-9">
                    <h5 class="card-title">
                        {{ profile }}
                    </h5>
                    <div class="card-text">
                        <ul>
                            <li>Никнейм: {{ profile.user.username }}</li>
                            {% if profile.user.get_full_name %}
                                <li>Имя и фамилия: {{ profile.user.get_full_name }}</li> {% endif %}
                            <li>Заходил: {{ profile.user.last_login }} |
                                {% if profile.is_online %}🟢 Онлайн{% else %}🔴 Не в сети{% endif %}</li>
                            <li>Дата рождения: {{ profile.birth_date }}</li>
                            <li>О себе: {{ profile.bio }}</li>
                        </ul>
                        {% if request.user == profile.user %}
                            <a href="{% url 'profile_edit' profile.slug %}" class="btn btn-primary btn-sm">Редактировать
                                профиль</a>
                            <a href="{% url 'home' %}" class="btn btn-secondary btn-sm">Отмена</a>
                        {% endif %}

                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}