{% extends 'base.html' %}

{% block content %}
    <div class="card mb-3 border-0 nth-shadow">
        <div class="card-body">
            <div class="card-title nth-card-title">
                <h4>Авторизация на сайте</h4>
            </div>
            <form method="post" action="{% url 'login' %}">
                {% csrf_token %}
                <div class="form-group mb-3">
                    <label for="id_username">Введите логин:</label>
                    {{ form.username }}
                </div>
                <div class="form-group mb-3">
                    <label for="id_password">Введите пароль:</label>
                    {{ form.password }}
                </div>
                <div class="d-grid gap-2 d-md-block mt-2">
                    <button type="submit" class="btn btn-primary btn-sm">Авторизоваться</button>
                    <a href="{% url 'password_reset' %}" class="btn btn-warning btn-sm">Забыли пароль?</a>
                    <a href="{% url 'home' %}" class="btn btn-secondary btn-sm">Отмена</a>
                </div>
            </form>
        </div>
    </div>
{% endblock %}