{% extends 'base.html' %}

{% block content %}
    <div class="container mt-4">
        <h2>Мои рецепты</h2>
        {% if recipes %}
            {% for recipe in recipes %}
                <div class="card mb-3">
                    <div class="row">
                        <div class="col-4">
                            {% if recipe.thumbnail %}
                                <img src={{ recipe.thumbnail.url }} class="card-img-top" alt={{ recipe.title }}>
                            {% else %}
                                <div class="d-flex align-items-center justify-content-center h-100">
                                    <p>Нет изображения</p>
                                </div>
                            {% endif %}
                        </div>
                        <div class="col-8">
                            <div class="card-body">
                                <h5 class="card-title">
                                    <a href="{% url 'recipe_detail' recipe.slug %}">{{ recipe.title }}</a>
                                </h5>
                                <p class="card-text">{{ recipe.description|truncatewords:20 }}</p>
                                <p><small>Дата добавления: {{ recipe.create }}</small></p>
                                <p><small>Дата изменения: {{ recipe.update }}</small></p>
                                <p>
                                    <small>
                                        Статус:
                                        <span
                                                class="{% if recipe.status == 'published' %}text-success{% elif recipe.status == 'draft' %}text-danger{% endif %}">
                                            {{ recipe.get_status_display }}
                                        </span>
                                    </small>
                                </p>
                            </div>


                        </div>
                    </div>
                </div>
            {% endfor %}
        {% else %}
            <p>У вас пока нет добавленных рецептов.</p>
        {% endif %}
    </div>
{% endblock %}